<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-avs-login"
        version="1.0.0">
    <name>Amazon AVS Login Plugin</name>
    <description>A Cordova Plugin for Amazon Login</description>
    <license>MIT</license>
    <keywords>Amazon, AVS, Amazon Login, Login, OAuth, Identity, Authentication</keywords>
    <repo>https://github.com/dhxjb/cordova-plugin-avs-login.git</repo>
    <issue>https://github.com/dhxjb/cordova-plugin-avs-login//issues</issue>

    <js-module src="www/plugin.js" name="AVSLogin">
        <clobbers target="window.AVSLogin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AVSLogin">
                <param name="android-package" value="com.avs.AVSLogin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.amazon.identity.auth.device.workflow.WorkflowActivity"
                      android:theme="@android:style/Theme.NoDisplay"
                      android:allowTaskReparenting="true"
                      android:launchMode="singleTask">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.BROWSABLE"/>
                    <!-- android:host must use the full package name found in Manifest General Attributes -->
                    <data android:host="${applicationId}" android:scheme="amzn"/>
                </intent-filter>
            </activity>
        </config-file>

        <source-file src="src/android/com/education/AVSLogin.java" target-dir="src/com/education"/>
    </platform>

    <!-- browser -->
    <platform name="browser">
        <js-module src="src/browser/AVSLogin.js" name="AVSLogin">
            <merges target="AVSLogin" />
        </js-module>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AVSLogin">
                <param name="ios-package" value="AVSLogin" onload="true"/>
            </feature>
            <plugin name="AVSLogin" value="AVSLogin"/>
            <access origin='*.amazon.com' allows-arbitrary-loads-in-media='true'
                    allows-arbitrary-loads-in-web-content='true' allows-local-networking='true'/>
        </config-file>

        <header-file src="src/ios/AVSLogin.h"/>
        <source-file src="src/ios/AVSLogin.m"/>

        <framework src="SafariServices.framework" weak="true"/>
        <framework src="Security.framework" weak="true"/>

        <preference name="IOS_API_KEY"/>

        <config-file target="*-Info.plist" parent="APIKey">
            <string>$IOS_API_KEY</string>
        </config-file>
    </platform>

    <!--<hook type="after_prepare" src="scripts/android/after_prepare.js"/>-->

</plugin>